
option domain-name "example.com";
option domain-name-servers 8.8.8.8, 8.8.4.4;

default-lease-time {{ wifi.dhcp_lease_time}};
max-lease-time {{ wifi.dhcp_lease_time }};

subnet {{ wifi.dhcp_subnet }} netmask {{ wifi.dhcp_netmask }} {
  range {{ wifi.dhcp_range_start }} {{ wifi.dhcp_range_end }};
  option routers {{ wifi.dhcp_router }};
  option broadcast-address {{ wifi.dhcp_subnet_broadcast }};
}

