[Unit]
Description=Docker Compose Application Service
After=network.target docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/ww/ww_system
ExecStart=/usr/bin/docker-compose up 
ExecStop=/usr/bin/docker-compose stop
TimeoutStartSec=0
Restart=always
User=ww

[Install]
WantedBy=multi-user.target

