#!/bin/bash

# Specify your network connection name
CONNECTION_NAME="{{ network.ssid }}"
CONNECTION_PASS="{{ network.password }}"

if [[ $(nmcli -t -f NAME con show --active) == *"$CONNECTION_NAME"* ]]; then
    # skip all if already connected.
    echo "Already connected to WiFi Network"

else 
    # Try to connect to the specific network. This will also error if the 
    # interface is already disabled for hostapd activate.
    if nmcli dev wifi connect "$CONNECTION_NAME" password "$CONNECTION_PASS";
    then
        # Wait for connection to establish
        sleep 15
    fi

    # Check if the specific network is active
    if [[ $(nmcli -t -f NAME con show --active) == *"$CONNECTION_NAME"* ]]; then
        echo "Connected to WiFi Network"
    else
        echo "WiFi Network could not be connected. Starting hostapd"

        LINES=$(ps -ef | grep "/usr/sbin/hostapd /etc/hostapd/hostapd.conf" | grep -v "grep" | wc -l)
        if [ $LINES -gt 0 ];
        then
            echo "Hostapd running already"
        else
            echo "Hostapd not running yet. Starting hostapd"

            # If WiFi is not connected, ensure hostapd is running
            # Release control of wlan0 from NetworkManager
            nmcli dev set wlan0 managed no
            sleep 1
            # The interface needs to be reset after letting it go from NetworkManager
            ifdown wlan0
            sleep 1
            ifup wlan0
            sleep 1
            # Strangely, the network interfaces file is not activated in the ifup in this script,
            # but works outside of this script. So we are going to manually set the static IP.
            ip addr add {{ network.dhcp_router }}/24 dev wlan0
            sleep 1
            # Hotspot up.
            /usr/sbin/hostapd /etc/hostapd/hostapd.conf
        fi
    fi
fi