# armbian NAT hostapd
allow-hotplug wlan0
iface wlan0 inet static
        address {{network.dhcp_router}}
        netmask 255.255.255.0
        network {{network.dhcp_network}}
        broadcast {{network.dhcp_broadcast}}
